[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.suo
.idea/
.vscode/
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.db
*.db-shm
*.db-wal
.DS_Store
Thumbs.db
appsettings.local.json
secrets.json
